* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

header,
footer,
nav,
section {
    width: 100%;
}

/* Ads Section */
.ads-section {
    background-color: #ccc;
    text-align: center;
    padding: 2rem;
    margin: 2rem 0;
    font-size: 1.5rem;
}